body {
	background-color: #5F19FF;
	color: black;
}

h1 {
	position: relative;
	text-align: center;
	font-size: 4em;
	font-family: 'OrangeJuice', sans-serif;
}

textarea {
	position: relative;
	top: 130px;
	left: 25%;
	border-radius: 10px;
	border: 3px solid black;
	color: black;
	font-size: 1.5em;
	font-family: Courier, monospace;
	font-weight: bold;
}

p {
	position: relative;
	top: 170px;
	text-align: center;	
}

#counterBox {
	position: relative;
	top: 190px;
	left: 45%;
	width: 100px;
	height: 100px;
}


@font-face {
	font-family: 'OrangeJuice';
    src: local("font/orangejuice") format('truetype'), url("font/orangejuice") format('truetype');
}


